---
layout: default
title: Posts
description: Pagination activated
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date | date:"%m/%d/%Y" }}</span>
  </p>
  <div class="content">
    {{ post.excerpt }}
<hr/>
  </div>
{% endfor %}



<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
